
<div id="chat-container"></div>
<form id="formSendMsg" class="form-inline" autocomplete="off">
    <div class="form-group">
        <input disabled id="message" type="text" class="form-control my-2 mr-2" placeholder="Ingresá un mensaje...">
        <button disabled id="btnSend" type="submit" class="btn btn-primary my-2">Enviar!</button>
    </div>
</form>