
{{#if games.length}}
<h2>Lista de Productos</h2>
<div class="table-responsive">
    <table class="table table-dark">
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
        {{#each games}}
        <tr>
            <td>{{this.name}}</td>
            <td>${{this.price}}</td>
            <td><img width="50" src={{this.image}} alt="not found"></td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}