<h1>Lista de Juegos</h1>
<table class="table align-middle">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        {{#each games}}
            <tr>
                <td>{{this.name}}</td>
                <td>${{this.price}}</td>
                <td class="align-middle">
                    <img class="img-fluid" src={{this.image}} alt={{this.name}}/>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>


